@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat"), local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}







/* Basics */

html {
    background-color: white;
    font-size: 16px;
    width: 100%;
}

body {
    margin: 0;
}

main {
    row-gap: 8rem;
    padding-bottom: 8rem;
}

a {
    justify-content: center;
    color: white;
    text-decoration: none;
}






/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 1.6rem;
}






/* Variables */

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}






/* Block */

.block {
    column-gap: 2rem;
}


.color-bg-primary {
    background-color: #333333;
}

.left {
    width: 40%;
}

.leftUp {
    width: 100%;
    height: 465px;
    overflow: hidden;
}

.leftUp div {
    width: 100%;
}

.leftUp img {
    display: block;
    height: 100%;
}

.leftBottom {
    width: 100%;
    height: 538px;
}

.leftBottom div p {
    width: auto;
    padding: 42px 42px 164px 82px;
}

.right {
    width: 100%;
    align-items: start;
}

.right a {
    font-size: 1.2rem;
}

.rightBottom {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightBottom .content {
    align-items: center;
    width: fit-content;
    font-weight: 600;
    padding: 61px 182px;
}

.rightBottom a:hover {
    cursor: pointer;
    font-weight: 700;
    opacity: .6;
}

.socials {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




/* Socials */

.vk {
    background-image: url(./../svgs/_social/vk.svg);
}

.vk:hover, .dropdown-content a:hover .vk {
    background-image: url(./../svgs/_social/vkHover.svg);
}

.tele {
    background-image: url(./../svgs/_social/tele.svg);
}

.tele:hover, .dropdown-content a:hover .tele  {
    background-image: url(./../svgs/_social/teleHover.svg);
}

.viber {
    background-image: url(./../svgs/_social/viber.svg);
}

.viber:hover, .dropdown-content a:hover .viber {
    background-image: url(./../svgs/_social/viberHover.svg);
}

.whatsapp {
    background-image: url(./../svgs/_social/whatsapp.svg);
}

.whatsapp:hover, .dropdown-content a:hover .whatsapp {
    background-image: url(./../svgs/_social/whatsappHover.svg);
}

.youtube {
    background-image: url(./../svgs/_social/youtube.svg);
}

.youtube:hover, .dropdown-content a:hover .youtube {
    background-image: url(./../svgs/_social/youtubeHover.svg);
}

.dribble {
    background-image: url(./../svgs/_social/dribble.svg);
}

.dribble:hover, .dropdown-content a:hover .dribble {
    background-image: url(./../svgs/_social/dribbleHover.svg);
}

.mail {
    background-image: url(./../svgs/_social/mail.svg);
}

.mail:hover, .dropdown-content a:hover .mail {
    background-image: url(./../svgs/_social/mailHover.svg);
}





/* Categories */

nav .videos {
    background-image: url(./../svgs/_services/videos.svg);
}

nav .videos:hover, .dropdown-content a:hover .videos {
    background-image: url(./../svgs/_services/videosHover.svg);
}

nav .animations {
    background-image: url(./../svgs/_services/animations.svg);
}

nav .animations:hover, .dropdown-content a:hover .animations {
    background-image: url(./../svgs/_services/animationsHover.svg);
}

nav .graphicDesign {
    background-image: url(./../svgs/_services/graphicDesign.svg);
}

nav .graphicDesign:hover, .dropdown-content a:hover .graphicDesign {
    background-image: url(./../svgs/_services/graphicDesignHover.svg);
}

nav .branding {
    background-image: url(./../svgs/_services/branding.svg);
}

nav .branding:hover, .dropdown-content a:hover .branding {
    background-image: url(./../svgs/_services/brandingHover.svg);
}

nav .logoDesign {
    background-image: url(./../svgs/_services/logoDesign.svg);
}

nav .logoDesign:hover, .dropdown-content a:hover .logoDesign {
    background-image: url(./../svgs/_services/logoDesignHover.svg);
}

nav .rebranding {
    background-image: url(./../svgs/_services/rebranding.svg);
}

nav .rebranding:hover, .dropdown-content a:hover .rebranding {
    background-image: url(./../svgs/_services/rebrandingHover.svg);
}

nav .dModelling {
    background-image: url(./../svgs/_services/3dModelling.svg);
}

nav .dModelling:hover, .dropdown-content a:hover .dModelling {
    background-image: url(./../svgs/_services/3dModellingHover.svg);
}

nav .dVisualising {
    background-image: url(./../svgs/_services/3dVisualising.svg);
}

nav .dVisualising:hover, .dropdown-content a:hover .dVisualising {
    background-image: url(./../svgs/_services/3dVisualisingHover.svg);
}

nav .projecting {
    background-image: url(./../svgs/_services/projecting.svg);
}

nav .projecting:hover, .dropdown-content a:hover .projecting {
    background-image: url(./../svgs/_services/projectingHover.svg);
}





/* Navigation */

nav {
    height: 80px;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 4rem;
    overflow: hidden;
    background-color: #333;
}

nav a {
    text-align: left;
    text-decoration: none;
    color: white;
    fill: white;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 1rem;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

nav a:hover, .dropdown:hover .dropbtn {
    font-weight: 700;
}

/* Dropdown content (hidden by default) */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 25rem;
    z-index: 1;
}

nav .dropdown-content a {
    height: 4rem;
    font-size: 1.2rem;
    padding: 0rem 1rem;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}

nav .socials {
    width: 64px;
    height: 64px;
}

.dropdown-content a:hover {
    font-weight: 700;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav li {
    width: 15rem;
}

nav a svg {
    padding-right: 1rem;
}

.icon-home {
    height: 32px;
    width: 32px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}





/* Logo */

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 0px;
}

.top img {
    height: 127px;
}





/* Header */

header img {
    width: 100%;
}




/* Large navigation */

.navmenu {
    display: flex;
    height: 960px;
    align-items: center;
    justify-content: center;
}

.navmenu h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

.navmenu .grid {
    display: grid;
    grid-template-columns: repeat(3, 227px);
    grid-template-rows: repeat(3, 227px);
}

.navmenu object {
    width: 227px;
    height: 227px;
    cursor: pointer;
}

.navmenu embed {
    width: 100%;
    height: 100%;
    cursor: pointer;
}






/* Videos */

.videos .leftBottom {
    background-image: url(./../svgs/videos/videosLeftBottom.svg);
}

.videos .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/videos/videosRightBottom.svg);
}

.videos .rightBottom {
    justify-content: start;
}

.videos .rightBottom h3 {
    color: #91c9ff;
}

.videos .rightBottom a:hover {
    opacity: 1;
    color: #91c9ff;
}





/* Animations */

.animations .leftBottom {
    background-image: url(./../svgs/animations/animationsLeftBottom.svg);
}

.animations .right {
    align-items: end;
}

.animations .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/animations/animationsRightbottom.svg);
}

.animations .rightBottom {
    justify-content: end;
}

.animations .rightBottom h3 {
    color: #ffcccc;
}

.animations .rightBottom a:hover {
    opacity: 1;
    color: #ffcccc;
}





/* Graphic design */

.graphicDesign .leftBottom {
    background-image: url(./../svgs/graphicDesign/graphicDesignLeftBottom.svg);
}

.graphicDesign .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/graphicDesign/graphicDesignRightBottom.svg);
}

.graphicDesign .rightBottom {
    justify-content: start;
}

.graphicDesign .rightBottom h3 {
    color: #99cccc;
}

.graphicDesign .rightBottom a:hover {
    opacity: 1;
    color: #99cccc;
}





/* Branding */

.branding .leftBottom {
    background-image: url(./../svgs/branding/brandingLeftBottom.svg);
}

.branding .right {
    align-items: end;
}

.branding .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/branding/brandingRightBottom.svg);
}

.branding .rightBottom {
    justify-content: end;
}

.branding .rightBottom h3 {
    color: #ff9933;
}

.branding .rightBottom a:hover {
    opacity: 1;
    color: #ff9933;
}





/* Logo design */

.logoDesign .leftBottom {
    background-image: url(./../svgs/logoDesign/logoDesignLeftBottom.svg);
}

.logoDesign .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/logoDesign/logoDesignRightBottom.svg);
}

.logoDesign .rightBottom {
    justify-content: start;
}

.logoDesign .rightBottom h3 {
    color: #cc99ff;
}

.logoDesign .rightBottom a:hover {
    opacity: 1;
    color: #cc99ff;
}





/* Rebranding */

.rebranding .leftBottom {
    background-image: url(./../svgs/rebranding/rebrandingLeftBottom.svg);
}

.rebranding .right {
    align-items: end;
}

.rebranding .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/rebranding/rebrandingRightBottom.svg);
}

.rebranding .rightBottom {
    justify-content: end;
}

.rebranding .rightBottom h3 {
    color: #99ff99;
}

.rebranding .rightBottom a:hover {
    opacity: 1;
    color: #99ff99;
}





/* 3D modelling */

.dModelling .leftBottom {
    background-image: url(./../svgs/3dModelling/3dModellingLeftBottom.svg);
}

.dModelling .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/3dModelling/3dModellingRightBottom.svg);
}

.dModelling .rightBottom {
    justify-content: start;
}

.dModelling .rightBottom h3 {
    color: #ff9999;
}

.dModelling .rightBottom a:hover {
    opacity: 1;
    color: #ff9999;
}





/* 3D visualising */

.dVisualising .leftBottom {
    background-image: url(./../svgs/3dVisualising/3dVisualisingLeftBottom.svg);
}

.dVisualising .right {
    align-items: end;
}

.dVisualising .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/3dVisualising/3dVisualisingRightBottom.svg);
}

.dVisualising .rightBottom {
    justify-content: end;
}

.dVisualising .rightBottom h3 {
    color: #cc99cc;
}

.dVisualising .rightBottom a:hover {
    opacity: 1;
    color: #cc99cc;
}





/* Projecting */

.projecting .leftBottom {
    background-image: url(./../svgs/projecting/projectingLeftBottom.svg);
}

.projecting .rightBottom {
    color: white;
    text-align: center;
    background-image: url(./../svgs/projecting/projectingRightBottom.svg);
}

.projecting .rightBottom {
    justify-content: start;
}

.projecting .rightBottom h3 {
    color: #ffcc99;
}

.projecting .rightBottom a:hover {
    opacity: 1;
    color: #ffcc99;
}





/* Footer */

footer {
    padding: 50px;
    justify-content: space-between;
}

footer .logo {
    fill: black;
    display: flex;
}

footer .logo img {
    height: 73px;
}

footer div a {
    color: white;
}

footer div a:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: white;
}

footer .flex-row {
    column-gap: 1rem;
}

footer .socials {
    height: 64px;
    width: 64px;
}