@font-face {
    font-family: 'Montserrat';
    src: local("Monserrat"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Monserrat"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Monserrat"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local("Monserrat"), local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* Basics */

html {
    background-color: white;
    font-size: 16px;
    width: 100%;
}

body {
    margin: 0;
}

main {
    row-gap: 8rem;
}

a {
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 1.6rem;
}

/* Variables */

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}


/* Block */

.block {
    column-gap: 2rem;
}


.color-bg-primary {
    background-color: #333333;
}

.left {
    width: 40%;
}

.leftUp {
    width: 100%;
    height: 465px;
    overflow: hidden;
}

.leftUp div {
    width: 100%;
}

.leftUp img {
    display: block;
    height: 100%;
}

.leftBottom {
    width: 100%;
    height: 538px;
}

.leftBottom div p {
    width: auto;
    padding: 42px 42px 164px 82px;
}

.right {
    width: 100%;
    align-items: start;
}

.right a {
    font-size: 1.2rem;
}

.rightBottom {
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightBottom .content {
    align-items: center;
    width: fit-content;
    font-weight: 600;
    padding: 61px 182px;
}

.rightBottom a:hover {
    cursor: pointer;
    font-weight: 700;
    opacity: .6;
}

.socials {
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Socials */

.vk {
    background-image: url(/resources/svgs/_social/vk.svg);
}

.vk:hover {
    background-image: url(/resources/svgs/_social/vkHover.svg);
}

.tele {
    background-image: url(/resources/svgs/_social/tele.svg);
}

.tele:hover {
    background-image: url(/resources/svgs/_social/teleHover.svg);
}

.viber {
    background-image: url(/resources/svgs/_social/viber.svg);
}

.viber:hover {
    background-image: url(/resources/svgs/_social/viberHover.svg);
}

.whatsup {
    background-image: url(/resources/svgs/_social/whatsup.svg);
}

.whatsup:hover {
    background-image: url(/resources/svgs/_social/whatsupHover.svg);
}

.youtube {
    background-image: url(/resources/svgs/_social/youtube.svg);
}

.youtube:hover {
    background-image: url(/resources/svgs/_social/youtubeHover.svg);
}

.dribble {
    background-image: url(/resources/svgs/_social/dribble.svg);
}

.dribble:hover {
    background-image: url(/resources/svgs/_social/dribbleHover.svg);
}

.mail {
    background-image: url(/resources/svgs/_social/mail.svg);
}

.mail:hover {
    background-image: url(/resources/svgs/_social/mailHover.svg);
}


/* Navigation */

nav {
    height: 80px;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 4rem;
    overflow: hidden;
}

nav li {
    width: 15rem;
}

nav a {
    color: white;
    fill: white;
}

nav a:hover {
    font-weight: 700;
}

nav a svg {
    padding-right: 1rem;
}

.icon-home {
    height: 32px;
    width: 32px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 88px 0px;
}

.logo img {
    height: 127px;
}


/* Header */

header img {
    width: 100%;
}

/* Large navigation */

.navmenu {
    height: 800px;
}


/* Videos */

.videos .leftBottom {
    background-image: url(/resources/svgs/videos/videosLeftBottom.svg);
}

.videos .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/videos/videosRightBottom.svg);
}

.videos .rightBottom {
    justify-content: start;
}

.videos .rightBottom h3 {
    color: #91c9ff;
}

.videos .rightBottom a:hover {
    opacity: 1;
    color: #91c9ff;
}

/* Animations */

.animations .leftBottom {
    background-image: url(/resources/svgs/animations/animationsLeftBottom.svg);
}

.animations .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/animations/animationsRightbottom.svg);
}

.animations .rightBottom {
    justify-content: end;
}

.animations .rightBottom h3 {
    color: #ffcccc;
}

.animations .rightBottom a:hover {
    opacity: 1;
    color: #ffcccc;
}

/* Graphic design */

.graphicDesign .leftBottom {
    background-image: url(/resources/svgs/graphicDesign/graphicDesignLeftBottom.svg);
}

.graphicDesign .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/graphicDesign/graphicDesignRightBottom.svg);
}

.graphicDesign .rightBottom {
    justify-content: start;
}

.graphicDesign .rightBottom h3 {
    color: #99cccc;
}

.graphicDesign .rightBottom a:hover {
    opacity: 1;
    color: #99cccc;
}

/* Branding */

.branding .leftBottom {
    background-image: url(/resources/svgs/branding/brandingLeftBottom.svg);
}

.branding .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/branding/brandingRightBottom.svg);
}

.branding .rightBottom {
    justify-content: end;
}

.branding .rightBottom h3 {
    color: #ff9933;
}

.branding .rightBottom a:hover {
    opacity: 1;
    color: #ff9933;
}

/* Logo design */

.logoDesign .leftBottom {
    background-image: url(/resources/svgs/logoDesign/logoDesignLeftBottom.svg);
}

.logoDesign .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/logoDesign/logoDesignRightBottom.svg);
}

.logoDesign .rightBottom {
    justify-content: start;
}

.logoDesign .rightBottom h3 {
    color: #cc99ff;
}

.logoDesign .rightBottom a:hover {
    opacity: 1;
    color: #cc99ff;
}

/* Rebranding */

.rebranding .leftBottom {
    background-image: url(/resources/svgs/rebranding/rebrandingLeftBottom.svg);
}

.rebranding .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/rebranding/rebrandingRightBottom.svg);
}

.rebranding .rightBottom {
    justify-content: end;
}

.rebranding .rightBottom h3 {
    color: #99ff99;
}

.rebranding .rightBottom a:hover {
    opacity: 1;
    color: #99ff99;
}

/* 3D modelling */

.dModelling .leftBottom {
    background-image: url(/resources/svgs/3dModelling/3dModellingLeftBottom.svg);
}

.dModelling .rightBottom {
    color: white;
    text-align: center;
    background-image: url(/resources/svgs/3dModelling/3dModellingRightBottom.svg);
}

.dModelling .rightBottom {
    justify-content: start;
}

.dModelling .rightBottom h3 {
    color: #ff9999;
}

.dModelling .rightBottom a:hover {
    opacity: 1;
    color: #ff9999;
}

/* 3D visualising */

/* Projecting */

/* Footer */